<div class="controller-page">
    <!-- 3-Panel Layout: Left Deck | Center Mixer | Right Deck -->
    <div class="controller-layout">
        <!-- Left Deck Panel (35%) -->
        <div class="panel panel-left">
            <app-deck #leftDeckComponent [deckNumber]="leftDeck.number" [deckSide]="leftDeck.side"></app-deck>
        </div>

        <!-- Center Mixer Panel (30%) -->
        <div class="panel panel-center">
            <app-mixer [leftDeckSettings]="leftChannelSettings" [rightDeckSettings]="rightChannelSettings"
                [masterVolume]="masterVolume" [crossFader]="crossFader" (leftDeckChange)="onLeftChannelChange($event)"
                (rightDeckChange)="onRightChannelChange($event)" (masterVolumeChange)="onMasterVolumeChange($event)"
                (crossFaderChange)="onCrossFaderChange($event)">
            </app-mixer>
        </div>

        <!-- Right Deck Panel (35%) -->
        <div class="panel panel-right">
            <app-deck #rightDeckComponent [deckNumber]="rightDeck.number" [deckSide]="rightDeck.side"></app-deck>
        </div>
    </div>
</div>